@font-face {
    font-family: "IBM Plex Mono";
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');;
  }

  
  /* body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px} */

body {
    margin:auto;
    max-width:80%;
    font-family: 'IBM Plex Mono', monospace;
    /* box-sizing: border-box; */
    padding: 2%;
    transform: skewY(1.75deg);
    line-height: 1.6;

}


li {
    margin-bottom: 10px;
}

.project_name {
    text-decoration: underline;
}




.background {
    position: absolute;
}

section h1 {
    font-style: italic;
}





.list {
    list-style: '\2AF8';
}
.sub-list {
    list-style-type: '\29C8';
}


.title {
    width: max-content;
    text-decoration: underline;
    text-decoration-thickness: .5px;
    animation-direction: initial;
    cursor: grab;

}


.title:hover {
    transition-duration: 2s;
    transform: rotatex(-360deg);
  }


button {
    all: unset;
}

a:hover, button:hover, .inputButtons:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: .5px;
    text-shadow: -2px -2px 3px #a5a5a5;    
    transform: translate(2px,2px);
    cursor: pointer;
    
}



a {

    text-decoration: none;
    display: inline-block;
}



footer {
    opacity: 0.3;
    margin-top: 20px;
}



.corners {
    min-width: max-content;
    display: flex;
    justify-content: space-between;
}













/* section {
    width: max-content;
    max-width: 100%;
} */

@media (max-width: 900px) {

    object {
        width: 100%;
    
    }

}


@media (max-width: 439px) {
    body {
        font-size: small;
        padding: 20px 25px;
    }

}

@media (max-width: 285px) {
    body {
        font-size: x-small;
    }

    section {
        word-wrap: nowrap;
        width: max-content;
        max-width: 100%;
    }



}
