@font-face {
    font-family: Source Code Pro;
    src: local("./SourceCodePro-VariableFont_wght.ttf");
}


body {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    padding: 40px 50px;
    transform: skewY(2deg);
    line-height: 1.6;
    font-size: larger;
    /* background-color:green; */
    /* display: flex;
    flex-direction: column; */


}

.inputButtons {
/* display: inline-block; */
/* margin: 0; */
/* padding: 0; */
}

.inputButtons:hover {
    /* text-decoration: underline; */
    /* text-decoration-style: wavy; */
    text-decoration-thickness: .5px;
    /* text-shadow: -2px -3px 1px rgb(172, 172, 172); */
    transform: translate(2px,2px);
    cursor: pointer;
}



@keyframes shadow {
    30% {
        text-shadow: -3px -5px 2px black;
    }
}




.nav_bar {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;

}



.list {
    list-style: '\2AF8';
}
.sub-list {
    list-style: '\29C8'
}

li {
    margin: 5px;
}

.title {
    width: max-content;
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-decoration-style: wavy;
    /* display: inline-block; */
    /* transition-duration: 2s; */
    animation-direction: initial;
    cursor: grab;

}


  .title:hover {
        transition-duration: 2s;

    transform: rotatex(-360deg);
  }


button {
    all: unset;
}
a:hover, button:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: .5px;
    text-shadow: -2px -2px 3px #a5a5a5;    
    transform: translate(2px,2px);
    cursor: pointer;
    
}

.mintButtons {
    /* background-color: orange; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: min-content */
}



a {

    text-decoration: none;
    display: inline-block;
}

/* a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: .5px;
    transform: translate(2px,2px);
} */

footer {
    opacity: 0.3;
}

.about {
    width: max-content;
    max-width: 90%;

}

.corners {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}



@keyframes flying {
    0% {
        left: 0;
        top: 40%;
        color: black;
        /* display: inline  */
    }

    50% {
        left: 100%;
        top: 70%;
        color: black;

    }

    100% {
        left: 0;
        top: 40%;
        color: black;
    }
}



.flying {
    animation: flying 150s infinite;
    animation-direction: normal;
    animation-delay: 5s;
    position: absolute;
    left: 0;
    color: white;
    /* color: white; */

}



@media (max-width: 900px) {

    .about {

        max-width: 90%;

    }

    .flying {
        animation: flying 30s infinite;
        animation-direction: normal;
        animation-delay: 20s;
        position: absolute;
        left: 0;
        color: white;

    }
    object {
        width: 100%;
    
    }

}

section {
    width: max-content;
    max-width: 90%;
    /* background-color: orange; */
}

/* section > h1:hover {
    transform: rotatex(-360deg);
} */



@media (max-width: 439px) {
    body {
        font-size: small;
        padding: 20px 25px;
    }

}

@media (max-width: 285px) {
    body {
        font-size: x-small;
    }
    .list {
        margin: 0;
    }



}