@font-face {
    font-family: "Source Code Pro";
    src: local("./SourceCodePro-VariableFont_wght.ttf");
}


body {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    padding: 2% 2%;
    transform: skewY(2deg);
    line-height: 1.6;
    font-size: larger;


}



@keyframes shadow {
    30% {
        text-shadow: -3px -5px 2px black;
    }
}




.nav_bar {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;

}



.list {
    list-style: '\2AF8';
}
.sub-list {
    list-style: '\29C8'
}


.title {
    width: max-content;
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-decoration-style: wavy;
    /* display: inline-block; */
    /* transition-duration: 2s; */
    animation-direction: initial;
    cursor: grab;

}


.title:hover {
    transition-duration: 2s;
    transform: rotatex(-360deg);
  }


button {
    all: unset;
}

a:hover, button:hover, .inputButtons:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: .5px;
    text-shadow: -2px -2px 3px #a5a5a5;    
    transform: translate(2px,2px);
    cursor: pointer;
    
}



a {

    text-decoration: none;
    display: inline-block;
}



footer {
    opacity: 0.3;
}



.corners {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}





@media (max-width: 900px) {

    object {
        width: 100%;
    
    }

}

section {
    width: max-content;
    max-width: 90%;
    /* background-color: orange; */
}



@media (max-width: 439px) {
    body {
        font-size: small;
        padding: 20px 25px;
    }

}

@media (max-width: 285px) {
    body {
        font-size: x-small;
    }

    section {
        word-wrap: nowrap;
        width: max-content;
        max-width: 100%;
    }



}